################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP-Engenharia-de-Software/bin
/TP-Engenharia-de-Software/obj
/TP-Engenharia-de-Software/TP-Engenharia-de-Software.csproj.user
